<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>
<div class="mar-top">
    <div class="card horizontal">
        <div class="card-image">
        <img src="./web/resources/images/2.png">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <p>
            Don't let your dream be just a dream<br><br>Just do it!!!
            </p>
        </div>
        <div class="card-action">
            <a href="https://www.facebook.com/sonchai.tuesday">Meet Me</a>
        </div>
        </div>
    </div>

    <div class="card horizontal">
        <div class="card-image">
        <img src="./web/resources/images/1.png">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <p>A thousand miles must begin with a single step</p>
        </div>
        <div class="card-action">
            <a href="https://www.facebook.com/krittanon.w?pnref=story">Meet Me</a>
        </div>
        </div>
    </div>

    <div class="card horizontal">
        <div class="card-image">
        <img src="./web/resources/images/3.png">
        </div>
        <div class="card-stacked">
        <div class="card-content">
            <p>Linus and Clark Kent are best friends.</p>
        </div>
        <div class="card-action">
            <a href="https://kohpai.github.io/">Meet Me</a>
        </div>
        </div>
    </div>
</div>