<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>
<div class="container mar-top">
    <ul class="chat" >
        <li ng-repeat="message in messages">
            <!--<div class="chip red lighten-3">
                {{message.name}}
            </div>
            <div class="chip">
                {{message.value}}
            </div>-->
            <div class="chip" style="width: 100%; position: relative; top: 12px;">
                <span >{{message.name}}</span>
            </div>
            <div class="card red lighten-3" style="border-radius: 15px; padding: 0px">
                <div class="card-content white-text" style="padding: 10px">
                <p style="word-wrap: break-word;">{{message.value}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class=" blue-grey darken-1 white-text chatbox">
    <div class="row">
        <div class="col s10">
            <input  type="text" ng-model="text">
        </div>
        <div class="col s2">
            <button class="waves-effect waves-light btn down z-depth-1" ng-click="send()">Send</button>
        </div>
    </div>
</div>