
<div class="container">
    <div class="row">
        <div class="col s12 center">
            <img src="./web/resources/images/icon-256x256.png" alt="logo">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p><button class="waves-effect waves-light btn full-width"  ng-click="login('google')">Sign in with Google+</button></p>
        </div>
        <div class="col s12">
            <p><button class="waves-effect waves-light btn full-width"  ng-click="login('facebook')">Sign in with Facebook</button></p>
        </div>
        <div class="col s12">
            <p><button class="waves-effect waves-light btn full-width"  ng-click="login('github')">Sign in with Gidhub</button></p>
        </div>
    </div>
</div>


