<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="container">
    <div class="row">
        <div class="col s12 center">
            <div class="card z-depth-0">
                <div class="card-image waves-effect waves-block waves-light">
                <img class="activator " ng-src="{{form.photoURL}}" alt="Profile photo">
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field col s12">
                <input ng-model="form.displayName" id="display_name" type="text" class="validate" placeholder="Display Name" disabled>
            </div>
            <div class="input-field col s12">
                <input ng-model="form.email" id="email" type="text" class="validate" placeholder="Email" disabled>
            </div>
            <div class="input-field col s12">
                <input ng-model="form.firstName" id="first_name" type="text" class="validate" placeholder="First Name">
            </div>
            <div class="input-field col s12">
                <input ng-model="form.lastName"  id="last_name" type="text" class="validate" placeholder="Last Name">
            </div>
            <div class="input-field col s12">
                <select ng-model="form.gender" class="browser-default" >
                <option value="" disabled selected>Choose your gander</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                </select>
            </div>
            <div class="input-field col s12">
                <input ng-model="form.age" id="age" type="number" name="quantity" min="18" max="100" class="validate" placeholder="Age">
            </div>
        </div>
        <button class="btn waves-effect waves-light z-depth-1 full-width" type="submit" name="action" ng-click="update()">
            Update
        </button>
  </div>
</div>



<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>