<header invokes="header.invokes" delegates="header.delegates" configs="header.configs"></header>

<div class="row" ng-repeat="(key,account) in accounts" ng-show="show.main">
    <div class="col s12">
        <div class="card">
            <div class="card-image">
                <img ng-src="{{account.photoURL}}">
            </div>
            <div class="card-content center">
                <span class="card-title">{{account.displayName}}({{account.age}})</span>
                <a class="waves-effect waves-light btn full-width" ng-click="choose(key)">Add Talk</a>
            </div>
        </div>
    </div>
</div>
<div class="children" ng-show="show.preloading">
    <span class="heartbeat-loader">Loading&#8230;</span>
</div>